annotated-types
anyio
argcomplete
av
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
checksumdir
click
colorama
coloredlogs
contourpy
cryptography
ctranslate2
cycler
faster-whisper
filelock
Flask
flatbuffers
fonttools
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httplib2
huggingface-hub
humanfriendly
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
mpmath
numpy
onnxruntime
packaging
pdfminer.six
pdfplumber
pillow
pipx
platformdirs
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyMuPDF
pyparsing
pypdfium2
pyreadline3
python-dateutil
pytz
PyYAML
rsa
scipy
setuptools
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
threadpoolctl
tokenizers
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
userpath
Werkzeug
gunicorn
