annotated-types
anyio
argcomplete
av
blinker
bs4
cachetools
certifi
cffi
charset-normalizer
checksumdir
click
colorama
coloredlogs
contourpy
cryptography
ctranslate2
cycler
duckdb
faster-whisper
filelock
Flask
flask-cors
flatbuffers
fonttools
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httplib2
huggingface-hub
humanfriendly
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
numpy
onnxruntime
openpyxl
packaging
pandas
pdfminer.six
pdfplumber
pillow
pipx
platformdirs
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyMuPDF
pyparsing
pypdfium2
pyreadline3
python-dateutil
python-docx
requests
rsa
scipy
seaborn
setuptools
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tavily
threadpoolctl
tokenizers
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
userpath
Werkzeug
PyYAML
